doctype html
html
    head
        meta(charset="utf-8")
        title 红西柚
        meta(name="keywords", content="前端,红西柚,html5,react,javascript,js,es,vue,doden,azumar")
        meta(name="author", content="doden.cn")
        meta(name="description", content="前端开发经验分享")
        link(rel="stylesheet", href='/css/reset.css')
        link(rel="stylesheet", href='/css/style.css')
        link(rel="short icon", href='/img/favicon.ico')
    body
        include components/bg
        include components/header

        main#pageMain.page-main
            section#pageLeft.page-left
                div.left-title #{currentType?currentType:'全部'}
                - if (blog.list.length>0)
                    ul.left-list#blogList
                        each b in blog.list
                            li.left-item
                                div.blog-info
                                    div.blog-author
                                        img(src="#{b.author.head}")
                                        p #{b.author.name}
                                    div.blog-extra
                                        p
                                            span.icon.clock
                                            span #{b.createdAt}
                                        p
                                            span.icon.category
                                            span #{b.blogType}
                                div.blog-detail
                                    div.blog-cover
                                        a(href="/blog/#{b._id}")
                                            img(src="#{b.blogCover}")
                                    div.blog-title
                                        h1
                                            a(href="/blog/#{b._id}") #{b.blogTitle}
                                        p #{b.blogDes}
                                    div.blog-oper
                                        a(href="/blog/#{b._id}") 点此查看全文
                                            span.icon.right
                    - if(blog.lastPage > 1)
                        div(onclick="loadMore(this);", data-current="#{blog.current}", data-lastPage="#{blog.lastPage}").loading#loading
                            i.icon.circle
                            span 点击加载更多
                - else
                    div.left-no
                        div.left-no-word
                            h1.left-no-icon
                                span.icon.no
                            p.left-no-tip 技术大大正连夜搬运文章ing...

            section.page-right
                include components/about
                div.right-item
                    div.item-title
                        h3 文章分类
                    ul.item-list
                        li(onclick="loadCategory();")
                            span 全部
                            span.icon.right

                        each t in type
                            li(onclick="loadCategory(this);")
                                span.typeId #{t._id}
                                span #{t.name}
                                span.icon.right


        include components/pageLoading

        include components/footer
        include components/up

    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
    script(src="/js/common.js")
    script.

        (function () {
            $('#headerNav').find('li').eq(0).addClass('active');
        })()

        // 根据分类id加载内容
        function loadCategory(obj) {
            var id = '';
            if(obj) id = $(obj).find('.typeId').html();
            window.location.href = '/blogList/'+id;
        }

        // 加载更多数据
        function loadMore(obj) {
            var current = $(obj).attr('data-current'),
                type = window.location.pathname.split('/')[2];

            current++;
            var data = {page: current, size: 5, type: type};

            $.ajax({
                url: '/blogList/list',
                type: 'get',
                data: data,
                success: function (res) {

                    if (res.code == 0) {
                        // 设置Loading按钮
                        if (res.data.current == res.data.lastPage) {
                            $(obj).hide();
                        }
                        $(obj).attr({'data-current': res.data.current, 'data-lastPage': res.data.lastPage});

                        // 追加节点Node
                        var oldNode = $('#blogList').html(),
                            list = '';
                        for (var index = 0; index < res.data.blogList.length; index++) {
                            var item = res.data.blogList[index];
                            list += '<li class="left-item">' +
                                '<div class="blog-info">' +
                                '<div class="blog-author"><img src="' + item.author.head + '"><p>' + item.author.name + '</p></div>' +
                                '<div class="blog-extra"><p><span class="icon clock"></span><span>' + item.createdAt + '</span></p>' +
                                '<p><span class="icon category"></span><span>' + item.blogType + '</span></p></div></div>' +
                                '<div class="blog-detail">' +
                                '<div class="blog-cover"><a href="/blog/' + item._id + '"><img src="' + item.blogCover + '"></a></div>' +
                                '<div class="blog-title"><h1><a href="/blog/' + item._id + '">' + item.blogTitle + '</a></h1><p>' + item.blogDes + '</p></div>' +
                                '<div class="blog-oper"><a href="/blog/' + item._id + '">点此查看全文 <span class="icon right"></span></a></div>' +
                                '</div></li>';
                        }

                        oldNode += list;

                        $('#blogList').html(oldNode);
                    } else {

                    }
                    $(obj).removeClass('active');
                },
                error: function (err) {
                    console.log(err.status + '： ' + err.statusText);
                    $(obj).removeClass('active');
                }
            });
        }

