doctype html
html
    head
        meta(charset="utf-8")
        title #{blog.data.blogTitle} - #{blog.data.blogType} - 红西柚
        meta(name="keywords", content="前端,红西柚,html5,react,javascript,js,es,vue,doden,azumar")
        meta(name="author", content="#{blog.data.blogUser}")
        meta(name="description", content="#{blog.data.blogDes}")
        include quote/viewport
        link(rel="stylesheet", href='/css/reset.css')
        link(rel="stylesheet", href='/css/markdown.css')
        link(rel="stylesheet", href='/css/style.css')
        link(rel="short icon", href='/img/favicon.ico')
    body
        include components/bg
        include components/header

        main#pageMain.page-main
            section#pageLeft.page-left
                div.blog-inner
                    div.blog-title
                        h1 #{blog.data.blogTitle}
                        div.see #{blog.data.blogPv}
                        p
                            span
                                i.icon.clock
                                span #{blog.data.createdAt}
                            span
                                i.icon.author
                                span #{blog.data.blogUser}
                            span
                                i.icon.category
                                span #{blog.data.blogTypeName}
                    div.blog-content.markdown-body#blogContent #{blog.data.blogContent}
                    div.blog-content-end （完）
                    div.blog-oper
            section.page-right
                include components/about
                div.right-item
                    div.item-title
                        h3 文章分类
                    ul.item-list
                        li(onclick="loadCategory();")
                            span 全部
                            span.icon.right

                        each t in type.data
                            li(onclick="loadCategory(this);")
                                span.typeId #{t._id}
                                span #{t.name}
                                span.icon.right

        include components/pageLoading

        include components/footer
        include components/up

    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
    script(src="/js/common.js")
    script.
      (function () {
          translateHtml();
      })();


      // 解析MarkDown
      function translateHtml () {
        var dom = document.getElementById('blogContent');
        var htmlStr = marked(dom.innerHTML);
        htmlStr = htmlStr.replace(/&amp;gt;/g, '>');
        htmlStr = htmlStr.replace(/&amp;lt;/g, '< ');
        dom.innerHTML = htmlStr;
      }

      function loadCategory(obj) {
          var id = '';
          if (obj) id = $(obj).find('.typeId').html();
          window.location.href = '/blogList/' + id;
      }
