doctype html
html
    head
        meta(charset="utf-8")
        title #{blog.data.blogTitle} - 红西柚
        link(rel="stylesheet", href='/css/reset.css')
        link(rel="stylesheet", href='/css/highlight.css')
        link(rel="stylesheet", href='/css/marked.css')
        link(rel="stylesheet", href='/css/style.css')
    body
        include components/header

        main.page-main
            section.page-left
                div.blog-inner
                    div.blog-title
                        h1 #{blog.data.blogTitle}
                        div.see 0
                        p
                            span
                                i.icon.clock
                                span #{blog.data.createdAt}
                            span
                                i.icon.author
                                span #{blog.data.blogUser}
                            span
                                i.icon.category
                                span #{blog.data.blogType}
                    div.blog-content#blogContent #{blog.data.blogContent}
                    div.blog-content-end （完）
                    div.blog-oper
            section.page-right
                include components/about
                div.right-item
                    div.item-title
                        h3 文章分类
                    ul.item-list
                        li(onclick="loadCategory();")
                            span 全部
                            span.icon.right

                        each t in type.data
                            li(onclick="loadCategory(this);")
                                span.typeId #{t._id}
                                span #{t.name}
                                span.icon.right

        include components/footer

    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(src="/js/highlight.js")
    script.
      (function () {
        translateHtml()
      })();

      function translateHtml () {
        hljs.initHighlightingOnLoad();
        var dom = document.getElementById('blogContent');
        dom.innerHTML = marked(dom.innerHTML);
      }

      function loadCategory(obj) {
          if(obj){
              localStorage.setItem('categoryId', obj.children[0].innerText)
          }

          window.location.href = '/';
      }
