doctype html
html
    head
        meta(charset="utf-8")
        title #{blog.data.blogTitle} - 红西柚
        link(rel="stylesheet", href='/css/reset.css')
        link(rel="stylesheet", href='/css/highlight.css')
        link(rel="stylesheet", href='/css/marked.css')
        link(rel="stylesheet", href='/css/style.css')
    body
        header.page-header
            nav
                div.header-img
                    img(src="/img/logo-colorful.png")

        main.page-main
            section.page-left
                div.blog-inner
                    div.blog-title
                        h1 #{blog.data.blogTitle}
                        div.see 0
                        p
                            span
                                i.icon.clock
                                span #{blog.data.createdAt}
                            span
                                i.icon.author
                                span #{blog.data.blogUser}
                            span
                                i.icon.category
                                span #{blog.data.blogType}
                    div.blog-content#blogContent #{blog.data.blogContent}
                    div.blog-content-end （完）
                    div.blog-oper
            section.page-right
                div.right-item
                    div.item-header
                        img(src='http://www.qq1234.org/uploads/allimg/150506/1213523V1-2.jpg')
                    article.item-name
                        h1 AZUMAR
                        p ENJOY THE BEST TODAY
                    div.item-link
                        span.icon.github
                        span.icon.weibo
                div.right-item
                    div.item-title
                        h3 文章分类
                    ul.item-list
                        each t in type.data
                            a(href="#")
                                li
                                    span #{t.name}
                                    span.icon.right
                div.right-item
                    div.item-title
                        h3 ABOUT
                    ul.item-list
                        li Copyright 2017 &copy; DODEN
                        li 蜀ICP备 2017092812444

    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(src="/js/highlight.js")
    script.
      (function () {
        translateHtml()
      })();

      function translateHtml () {
        hljs.initHighlightingOnLoad();
        var dom = document.getElementById('blogContent');
        dom.innerHTML = marked(dom.innerHTML);
      }
